@import url(./style.css);
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@import "tailwindcss";

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
}

html,
body {
  background: var(--bg);
  color: var(--text);
}
